
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi <%=name%></h1>
    
    <div class="woman">
        <div class="card">
            <div class="row1">
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            </div>
            <div class="row2">
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            <div class="box"><img src="washingmachine.png" alt="washingmachine icon" class="washingmachine"></div>
            </div></div>
        
            <ul class="list">
                <li class="green"><div id="greenbox"></div>Ledige tider</li>
                <li class="yellow"><div id="yellowbox"></div> Delvis ledige tider</li>
                <li class="red"><div id="redbox"></div> Ingen ledige tider</li>
            </ul>

    </div>

<form action="/logout?_method=DELETE" method="POST">
<button type="submit">Log out</button>
</form>
</body>
</html>


